@media (min-width: 900px){

.css-1t6c9ts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* gap: 11%; */
    flex-grow: 1;
    justify-content: space-evenly;
}
}
