body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
  font-weight: 600;
  font-size: 180%;
  line-height: 160%;

}

.font a {
  font-size: 120%;
  font-weight: 400;
  text-decoration: none;
  color: #1976d2;
}

span {
  color: #1976d2;
}

@media (min-width: 900px)
{
.css-1p5s36p-MuiGrid2-root {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
}
.navbars{
margin-bottom: 1rem;
}


